
<div class="back">
<div class="container-fluid px-1 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
            <h3>Enregistrer un medicament </h3>
            <p class="blue-text">Just answer a few questions<br> so that we can personalize the right experience for you.</p>
            <div class="card">
                <h5 class="text-center mb-4">Formulaire d'enregistrement</h5>
                <form class="form-card">
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Noms<span class="text-danger"> *</span></label> <input type="text" id="fname" name="fname" placeholder="Noms du medicament"> </div>
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Type<span class="text-danger"> *</span></label>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Choisissez le type medicament</option>
                                <option value="1">Anti-inflamatoire</option>
                                <option value="2">Anti-biotique</option>
                                <option value="3">Anti-fongique</option>
                              </select>
                        </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Nature<span class="text-danger"> *</span></label> 
                            <select class="form-select" aria-label="Default select example">
                            <option selected>Choisissez la nature du medicament</option>
                            <option value="1">comprimes</option>
                            <option value="2">sirop</option>
                            <option value="3">capsule</option>
                            <option value="3">rouleau</option>
                            <option value="3">sachets</option>


                          </select> </div>
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">prix-unitaire<span class="text-danger"> *</span></label> <input type="text" id="mob" name="mob" placeholder="en XAF"> </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Prix-boite<span class="text-danger"> *</span></label> <input type="text" id="job" name="job" placeholder=""> </div>
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Quantite<span class="text-danger"> *</span></label> <input type="number" id="mob" name="mob" placeholder=""> </div>
                    </div><br>
                    <div class="row justify-content-end">
                        <div class="form-group col-sm-6"> <button type="submit" class="btn btn-primary">Enregistrer</button> </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>

