.title{
    font-size: 30px;
    text-align: center;
    margin-top: 2%;
    font-family: 'Pacifico', cursive;

}
.labelm{
    font-size: 25px;
    font-family: 'Pacifico', cursive;

}
.inputm{
    font-size: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    background: none;
}
.filter{
    font-weight: bold;
}
.back{
    background-image: url("../../assets/back2.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}