<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" id="nav"><img src="../../assets/lgo22.png" class="img">&nbsp; PHARMACIE Nature</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/home']" >Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/list']">List Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/save']">Save Product</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/about']">About-Us</a>
          </li>
      </ul>
    </div>
  </div>
  </nav>
