#nav{
    font-weight: bold;
    font-size: 25px;
    background: linear-gradient(270deg,rgb(55, 130, 210),rgb(159, 83, 83));
    -webkit-text-fill-color:transparent;
    -webkit-background-clip:text;
}
.img{
    width: 15%;
    height: 15%;
    border-radius:15% ;
}